@import "../styles/Styles.scss";


.ceremony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    .title{   
        height: auto;     
        h3{
            color: $green;
            justify-content: center;
            align-items: center;
            text-align: justify;
        }
    }
    .time{
        height: auto;
        h2{
            justify-content: center;
            align-items: center;
            color: $green;
        }
    }
    .date{
        height: auto;
        p{
            font-size: 20px;
            font-weight: 100;
            line-height: 1.5; 
            height: auto;
        }
    }

   
   
   
    
    
}
@media screen and (max-width: 768px){
    .ceremony{
        width: 90vw;
        height: auto;
        border-style: none;
        box-shadow: none;
        overflow-y: scroll;
        padding-bottom: 30px;
        padding-top: 30px;
        overflow-y: scroll;
        .title{
        margin-top: 0px;
        margin-bottom: 40px;
        line-height: 1;
        h1{
            margin-bottom: 10px;
        }
        }
        .date{
            height: auto;
            padding-top: 40px;
            padding-bottom: 50px;
        }
        .countdownSpace{
            padding-top: 40px;
            padding-bottom: 40px;

        }
        .confirmation{
            width: 100%;
            padding-top: 40px;
            height: 42px;
            text-align: justify;
           
        }
}}