@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


$josefinSans: "Josefin Sans", sans-serif;
$cursiveFont: "Sacramento", cursive;
$background: #fbfbfb;
$black:#434245;
$green:#485b44;




